<ion-header [translucent]="true" style="background: #f3f3f3; border-bottom: 1px solid black;">
  <ion-toolbar>
    <div *ngIf="!isMobile" style="width: 80%; display: flex; justify-content: space-between; align-items: center; margin-top: 5px;">
      <!-- Logo -->
      <div style="margin-left: 20px;">
        <img src="../assets/icon/favicon.png">
      </div>
      
      <!-- Menu Mobile Button -->
      <div *ngIf="isMobile" style="margin-right: 20px;">
        <ion-menu-button></ion-menu-button>
      </div>

      <!-- Navigation Links -->
      <div *ngIf="!isMobile" style="width: 50%; display: flex; justify-content: space-between; text-align: center;">
        <div (click)="goHome()" class="nav-item">Home</div>
        <div (click)="goServicos()" class="nav-item">Servicos</div>
        <!--<div class="nav-item">Sobre Nos</div> -->
        <div (click)="goContato()" class="nav-item">Contato</div>
      </div>

    </div>

    <!--Para dispositivos mobile -->
    <div *ngIf="isMobile" style="width: 100%; display: flex; justify-content: space-between; align-items: center; margin-top: 5px;">
      <!-- Logo -->
      <div style="margin-left: 20px;">
        <img src="../assets/icon/favicon.png">
      </div>
      
      <!-- Menu Mobile Button -->
      <div *ngIf="isMobile" style="margin-right: 20px;">
        <ion-menu-button></ion-menu-button>
      </div>

      <!-- Navigation Links -->
      <div *ngIf="!isMobile" style="width: 50%; display: flex; justify-content: space-between; text-align: center;">
        <div (click)="goHome()" class="nav-item">Home</div>
        <div (click)="goServicos()" class="nav-item">Servicos</div>
        <!--<div class="nav-item">Sobre Nos</div> -->
        <div (click)="goContato()" class="nav-item">Contato</div>
      </div>

    </div>



  </ion-toolbar>
</ion-header>

<!-- Menu (for mobile devices) -->
<ion-menu side="start" menuId="mainMenu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div style="margin-left: 20px; margin-top: 10px;">
        <img src="../assets/icon/favicon.png">
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="goHome()">
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item button (click)="goServicos()">
        <ion-label>Servicos</ion-label>
      </ion-item>
      <!--<ion-item button>
        <ion-label>Sobre Nos</ion-label>
      </ion-item> -->
      <ion-item button (click)="goContato()">
        <ion-label>Contato</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>




<!-- Main content -->
<ion-content id="main-content">
  <!-- Seu conteúdo principal aqui -->
</ion-content>

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
