<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <div>
      <div class="text-overlay">
        <h1 style="font-size: 65px">Conectando Inovação ao Sucesso Empresarial!</h1>
      </div>
      <div class="text-overlay2">
        <h4>Especializada em soluções de software sob medida para o seu negócio</h4>
      </div>
      <img
        style="
          width: 100%;
          object-fit: cover;
          z-index: 1;
          filter: brightness(40%);
        "
        src="../../assets/imgs/telafundo.png"
      />
    </div>
  </div>

  <div style="width: 100%; background-color: #000; color: #fff; padding: 40px 10%; display: flex; align-items: center;">
    <!-- Coluna de texto (à esquerda) -->
    <div style="flex: 1; text-align: left; padding-right: 20px;">
      <h2 style="font-size: 28px; font-weight: bold; margin-bottom: 20px;">
        Desenvolvimento e Suporte Especializados em TI para o Sucesso do Seu Negócio
      </h2>
      <p style="font-size: 18px; line-height: 1.6; margin-bottom: 20px;">
        Conte com nossa expertise em tecnologias atuais para impulsionar o crescimento da sua empresa. Oferecemos consultoria personalizada e suporte técnico contínuo, com soluções que atendem às suas necessidades específicas e garantem o melhor desempenho para seu negócio.
      </p>
      <ul style="font-size: 18px; list-style-type: none; padding-left: 0;">
        <li>✔ Gestão completa</li>
        <li>✔ Suporte 24h para garantir a continuidade dos seus negócios</li>
        <li>✔ Agilidade na iniciação</li>
        <li>✔ Entregas cíclicas e incrementais</li>
        <li>✔ Automações de Processos</li>
        <li>✔ Sistemas sob-medida</li>
      </ul>
    </div>
    <!-- Coluna de imagem (à direita) -->
    <div style="flex: 1;">
      <img src="../../../assets/imgs/OutsourcingTI.jpg" alt="Imagem ilustrativa" style="width: 100%; height: auto; border-radius: 10px;">
    </div>
  </div>
  

  <div style="width: 100%; height: 20%;display: flex;">
    <h3 style="color: black; display: flex;justify-content: center; align-items: center; width: 100%;">
      Em poucas etapas a sua empresa tem à disposição uma equipe completa de tecnologia.
    </h3>
  </div>

  <div style="width: 100%; height: 40%; background-color: #1c1c3c;">
    <ion-content style="width: 100%;">
      <!-- Container de Cards -->
      <div style="display: flex; justify-content: space-around; margin-top: 40px; gap: 20px; padding: 10px;">
    
        <!-- Card 1: EQUIPE ESPECIALIZADA -->
        <div style="position: relative; width: 30%; text-align: center;">
          <div style="position: absolute; top: -20px; left: 50%; transform: translateX(-50%); width: 60px; height: 60px; border-radius: 50%; background-color: #fff; display: flex; justify-content: center; align-items: center; border: 2px solid #000; z-index: 1;">
            <span style="font-size: 24px; font-weight: bold; color: #000;">1</span>
          </div>
          <ion-card style="background-color: #fff; color: #000;">
            <ion-card-header style="margin-top: 30px;">
              <ion-card-title>ENTENDIMENTO</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Realização das primeiras reuniões de alinhamento.
            </ion-card-content>
          </ion-card>
        </div>
  
        <!-- Card 2: REDUÇÃO DE CUSTOS -->
        <div style="position: relative; width: 30%; text-align: center;">
          <div style="position: absolute; top: -20px; left: 50%; transform: translateX(-50%); width: 60px; height: 60px; border-radius: 50%; background-color: #fff; display: flex; justify-content: center; align-items: center; border: 2px solid #000; z-index: 1;">
            <span style="font-size: 24px; font-weight: bold; color: #000;">2</span>
          </div>
          <ion-card style="background-color: #fff; color: #000;">
            <ion-card-header style="margin-top: 30px;">
              <ion-card-title>AVALIAÇÃO</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Levantamento dos principais requisitos técnicos e de negócio.
            </ion-card-content>
          </ion-card>
        </div>
  
        <!-- Card 3: QUALIDADE NAS ENTREGAS -->
        <div style="position: relative; width: 30%; text-align: center;">
          <div style="position: absolute; top: -20px; left: 50%; transform: translateX(-50%); width: 60px; height: 60px; border-radius: 50%; background-color: #fff; display: flex; justify-content: center; align-items: center; border: 2px solid #000; z-index: 1;">
            <span style="font-size: 24px; font-weight: bold; color: #000;">3</span>
          </div>
          <ion-card style="background-color: #fff; color: #000;">
            <ion-card-header style="margin-top: 30px;">
              <ion-card-title>DIAGNÓSTICO</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Diagnóstico e proposição do pacote ideal, com o objetivo de garantir os perfis adequados e as alocações corretas.
            </ion-card-content>
          </ion-card>
        </div>
  
      </div>
    </ion-content>
  </div>
  


    <div style="background-color: #f3f3f3; padding: 20px 10px; text-align: center; position: relative; bottom: 0; width: 100%;">
      <div style="max-width: 1200px; margin: 0 auto;">
        
        <!-- Informações de Contato -->
        <div style="font-size: 14px; color: #333; margin: 5px 0;">
          <p>Email: <a href="mailto:rhinotecnologiamg@gmail.com" style="text-decoration: none; color: #007bff;">rhinotecnologiamg&commat;gmail.com</a></p>
          <p>Telefone: <a href="tel:+5531988622840" style="text-decoration: none; color: #007bff;">(31) 98862-2840</a></p>
        <!--  <p>Endereço: Av. Bias Fortes, 382 - 11º andar - Lourdes, Belo Horizonte/MG</p>-->
        </div>
  
        <!-- Links de Redes Sociais -->
        <div style="margin: 20px 0;">
          <a href="https://www.instagram.com/rhinotech__" target="_blank" style="font-size: 24px; color: #333; margin: 0 10px; text-decoration: none;">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a href="https://www.linkedin.com/in/seuperfil" target="_blank" style="font-size: 24px; color: #333; margin: 0 10px; text-decoration: none;">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </div>
  
        <!-- Política de Privacidade e Copyright -->
        <div style="font-size: 14px; color: #333; margin: 5px 0;">
          <p><a href="#" style="color: #007bff; text-decoration: none;">Política de Privacidade</a></p>
          <p>©2024 por Rhino Tecnologia</p>
        </div>
      </div>
    </div>
  
    <a href="https://wa.me/5531988622840" target="_blank" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000; margin-right: 10px;">
      <ion-icon name="logo-whatsapp" style="font-size: 60px; color: #25d366; background-color: #fff; border-radius: 50%; padding: 15px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);"></ion-icon>
    </a>

</ion-content>
